.line-with-a-gift {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10.21%, #346885), to(#558DAB));
  background: linear-gradient(360deg, #346885 10.21%, #558DAB 100%);
}
.line-with-a-gift__text {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 35px 10px;
  max-width: 1955px;
  margin: 0 auto;
  white-space: nowrap;
  -webkit-animation: marquee 10s infinite linear;
  animation: marquee 10s infinite linear;
}
.line-with-a-gift__gift {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}